# Python
__pycache__/
*.py[cod]
*$py.class
*.log
*.bak
.pytest_cache/
.venv/
venv/

# IDE
.idea/
.vscode/
.trae/
.DS_Store

# Data & Runtime
runtime/
GUV_Analysis/data/tasks/
GUV_Analysis/backend/data/pgdata/
GUV_Analysis/backend/data/miniodata/

# Frontend
node_modules/

# MATLAB
*.asv
*.mat
